<!--
  Generated template for the ContactPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Contact Us</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header color="primary">
      Location Information
    </ion-card-header>

    <ion-card-content>
      <address>
        121, Clear Water Bay Road<br>
        Clear Water Bay, Kowloon<br>
        HONG KONG<br>
        <ion-icon name="call"></ion-icon>: +852 1234 5678<br>
        <ion-icon name="md-print"></ion-icon>: +852 8765 4321<br>
        <ion-icon name="mail"></ion-icon>: confusion@food.net
      </address>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="call"></ion-icon>
          <a href="tel:+85212345678" style="text-decoration: none;">Call</a>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="mail"></ion-icon>
          <a href="mailto:confusion@food.net" style="text-decoration: none;">Email</a>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>