<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Menu</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="card-background-page">

  <div *ngIf="dishes">
   <ion-card *ngFor="let dish of dishes" (click)="dishSelected($event, dish)" (pan)="addToFavorites(dish)">
    <img src="{{BaseURL + dish.image}}"/>
    <div class="card-title">{{dish.name}}</div>
    <div class="card-subtitle">{{dish.description}}</div>
  </ion-card>
  </div>
  <div [hidden]="dishes || errMess">
    <ion-spinner></ion-spinner>
    <h4>Loading . . . Please Wait</h4>
  </div>
  <div *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>
</ion-content>